.button {
  all: unset;
  align-items: center;
  background-color: #fef3c7; /* amber-100 */
  border: 1px solid #f59e0b; /* amber-500 */
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 56px; /* h-14 */
  justify-content: center;
  width: 320px; /* w-80 */
  cursor: pointer;
  overflow: hidden;
}

.button .text-wrapper {
  color: #000000;
  font-family: var(--pre-semi-16-font-family);
  font-size: var(--pre-semi-16-font-size);
  font-style: var(--pre-semi-16-font-style);
  font-weight: var(--pre-semi-16-font-weight);
  letter-spacing: var(--pre-semi-16-letter-spacing);
  line-height: var(--pre-semi-16-line-height);
  text-align: center;
  white-space: nowrap;
}
