.stress-survey-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.stress-survey-container .onbording-steps {
  height: 6px;
  left: 14px;
  position: absolute;
  top: 62px;
  width: 364px;
  display: flex;
  gap: 5px;
}

.stress-survey-container .step {
  background-color: #fed7aa; /* orange-200 */
  border-radius: 10px;
  height: 100%;
  flex: 1;
}

.stress-survey-container .step.active {
  background-color: #f59e0b; /* amber-500 */
}

.stress-survey-container .question-text {
  align-items: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  left: 14%;
  line-height: 1.4;
  position: absolute;
  text-align: center;
  top: 45.89%;
  width: 72%;
}

.stress-survey-container .button-choice {
  align-items: center;
  background-color: #f5f5f5; /* neutral-100 */
  border: 1px solid #d6d3d1; /* stone-300 */
  border-radius: 10px;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 162px;
  position: absolute;
  top: calc(50% + 74px);
  cursor: pointer;
  transition: all 0.3s ease;
}

.stress-survey-container .button-choice.selected {
  background-color: #fef3c7; /* amber-100 */
  border: 1px solid #f59e0b; /* amber-500 */
}

.stress-survey-container .yes {
  left: calc(50% - 166px); /* Align left of center gap */
}

.stress-survey-container .no {
  left: calc(50% + 4px); /* Align right of center gap */
}

.stress-survey-container .text-wrapper {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.stress-survey-container .confused-face {
  height: 63px;
  width: 63px;
  position: absolute;
  top: 295px;
  left: 50%;
  transform: translateX(-50%);
}

.stress-survey-container .arrow-left {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 80px;
  left: 15px;
  cursor: pointer;
  z-index: 10;
}

.stress-survey-container .icon {
  width: 100%;
  height: 100%;
}

.stress-survey-container .footer-text {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 9.86%;
  width: 100%;
  text-align: center;
}

.stress-survey-container .button-complete {
  all: unset;
  background-color: #fef3c7; /* amber-100 */
  border: 1px solid #f59e0b; /* amber-500 */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 330px;
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.stress-survey-container .text-wrapper-complete {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
