.calculating-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.calculating-container .onbording-steps {
  height: 6px;
  left: 14px;
  position: absolute;
  top: 62px;
  width: 364px;
  display: flex;
  gap: 5px;
}

.calculating-container .step {
  background-color: #fed7aa; /* orange-200 */
  border-radius: 10px;
  height: 100%;
  flex: 1;
}

.calculating-container .step.active {
  background-color: #f59e0b; /* amber-500 */
}

.calculating-container .text-wrapper {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  position: absolute;
  top: 51.88%;
  width: 100%;
  text-align: center;
}

.calculating-container .circular {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 340px;
  left: 50%; /* Centered horizontally */
  transform: translateX(-50%);
}

.calculating-container .active-indicator {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 1s linear infinite;
}

.calculating-container .track {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
