.notification-container {
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: auto;
    position: relative;
}

/* Header */
.notification-header {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}

.back-arrow {
    position: absolute;
    left: 22px;
    top: 5px;
    cursor: pointer;
}

.notification-title {
    width: 144px;
    height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

/* Tabs */
.notification-tabs {
    display: flex;
    margin-top: 12px;
    padding: 0 13px;
    gap: 0;
}

.tab {
    width: 91px;
    height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid black;
}

.divider {
    width: 460px;
    height: 1px;
    margin-left: -26px;
    margin-top: 8px;
    border-bottom: 1px solid #a3a3a3;
}

/* Mark all as read */
.mark-all-read {
    width: 112px;
    height: 32px;
    position: absolute;
    right: 21px;
    top: 163px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
    cursor: pointer;
}

/* Notification List */
.notification-list {
    margin-top: 48px;
    padding: 0;
}

.notification-item {
    width: 100%;
    height: 80px;
    background: #fef2f2; /* red-50 */
    border: 1px solid #a3a3a3;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 47px;
    margin-bottom: 2px;
}

.notif-icon-wrapper {
    position: relative;
    width: 41px;
    height: 41px;
}

.notif-icon {
    position: absolute;
    left: 5px;
    top: 6px;
    width: 32px;
    height: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Pretendard';
}

.notif-content {
    margin-left: 34px;
    flex: 1;
}

.notif-header-row {
    display: flex;
    align-items: center;
    gap: 66px;
}

.notif-title {
    width: 112px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.notif-time {
    width: 112px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: #a3a3a3;
}

.notif-text {
    width: 112px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: #a3a3a3;
    margin-top: 7px;
}
