.search-container {
    width: 100%;
    max-width: 393px;
    height: 100%;
    position: relative;
    background: white;
    overflow: hidden;
}

.search-back-btn {
    position: absolute;
    left: 22px;
    top: 61px;
    cursor: pointer;
    z-index: 10;
}

.search-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    width: 176px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.search-input-area {
    position: absolute;
    width: 100%;
    top: 115px;
}

.search-category-dropdown {
    position: absolute;
    left: 19px;
    width: 112px;
    height: 36px;
    background: #f4f4f5; /* zinc-100 */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.search-cat-text {
    position: absolute;
    left: 11px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.search-cat-icon {
    position: absolute;
    left: 84px;
}

.search-text-input {
    position: absolute;
    left: 132px;
    width: 240px;
    height: 36px;
    background: #f4f4f5; /* zinc-100 */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.search-input-icon {
    position: absolute;
    left: 208px;
}

.search-real-input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 12px;
    padding-right: 40px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}
.search-real-input::placeholder {
    color: #a3a3a3; /* neutral-400 */
}

.recent-title {
    position: absolute;
    left: 19px;
    top: 174px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.delete-all-btn {
    position: absolute;
    right: 20px;
    top: 174px;
    font-size: 10px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
    cursor: pointer;
}

.recent-item {
    position: absolute;
    left: 19px;
    width: 320px;
    height: 32px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.recent-item-text {
    position: absolute;
    left: 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.recent-delete-icon {
    position: absolute;
    left: 316px;
    cursor: pointer;
}

.popular-title {
    position: absolute;
    left: 20px;
    top: 326px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.popular-time {
    position: absolute;
    right: 20px;
    top: 326px;
    font-size: 10px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.popular-container {
    position: absolute;
    left: 19px;
    top: 353px;
    width: 355px;
    height: 420px;
    background: #f4f4f5;
    border-radius: 10px;
    overflow: hidden; 
}

.popular-rank {
    position: absolute;
    left: 36px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
    width: 20px;
    text-align: center;
}

.popular-text {
    position: absolute;
    left: 77px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Pretendard';
    color: black;
}

.popular-trend {
    position: absolute;
    left: 299px;
}
