.signup-complete-container {
    width: 393px;
    height: 852px;
    position: relative;
    background: white;
    overflow: hidden;
    cursor: pointer;
}

.welcome-text-container {
    width: 309px;
    left: 32px;
    top: 145px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.welcome-title {
    color: black;
    font-size: 30px;
    font-family: 'Pretendard';
    font-weight: 600;
    word-wrap: break-word;
}

.welcome-subtitle {
    color: black;
    font-size: 24px;
    font-family: 'Pretendard';
    font-weight: 600;
    word-wrap: break-word;
}
