.signup-step4-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;
    width: 100%;
    position: relative;
}

.signup-step4-container .arrow-left {
    position: absolute;
    top: 80px;
    left: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.signup-step4-container .message-container {
    text-align: center;
    margin-bottom: 40px; 
}

.signup-step4-container .title {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup-step4-container .subtitle {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
}

.signup-step4-container .button-next {
    all: unset;
    background-color: #c8c8c8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 330px;
    cursor: 'pointer';
}
