.signup-step2-container {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.signup-step2-container .button-next {
    all: unset;
    background-color: #c8c8c8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 330px;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.signup-step2-container .button-text {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.signup-step2-container .description {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 174px;
    width: 100%;
}

.signup-step2-container .resend-text {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    bottom: 115px; /* Above button */
    width: 100%;
}

.signup-step2-container .verification-lines {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 310px;
    width: 100%;
}

.signup-step2-container .line-item {
    width: 40px; /* Adjusted size */
    height: 3px;
}

.signup-step2-container .header-text {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 123px;
    left: 32px;
}

.signup-step2-container .arrow-left {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 80px;
    left: 15px;
}

.signup-step2-container .icon {
    width: 100%;
    height: 100%;
}
