.signup-complete-container {
  width: 393px;
  height: 852px;
  position: relative;
  background: white;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text-container {
  width: 309px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcome-title {
  color: black;
  font-size: 30px;
  font-family: "Pretendard";
  font-weight: 600;
  word-wrap: break-word;
}

.welcome-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.welcome-emoji {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.welcome-subtitle {
  color: black;
  font-size: 24px;
  font-family: "Pretendard";
  font-weight: 600;
  word-wrap: break-word;
}
