.signup-step1-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.signup-step1-container .arrow-left {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    margin-top: 63px;
    position: relative;
}

.signup-step1-container .icon {
    width: 100%;
    height: 100%;
}

.signup-step1-container .text-wrapper {
    color: #000000;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-left: 32px;
    margin-top: 38px;
    white-space: nowrap;
}

.signup-step1-container .label {
    color: #000000;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 34px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.signup-step1-container .input-group {
    margin-left: 32px;
}

.signup-step1-container .button-next {
    all: unset;
    background-color: #c8c8c8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 330px;
    margin-left: 32px;
    margin-top: auto; /* Push to bottom area */
    margin-bottom: 48px; /* Spacing from bottom */
    cursor: pointer;
}

.signup-step1-container .button-text {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
