.splash-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fed7aa, #f59e0b);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.splash-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-logo {
    width: 75px; 
    height: auto;
}
