.stress-survey-container {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.stress-survey-container .onbording-steps {
    height: 6px;
    left: 14px;
    position: absolute;
    top: 62px;
    width: 364px;
    display: flex;
    gap: 5px;
}

.stress-survey-container .step {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 100%;
    flex: 1;
}

.stress-survey-container .step.active {
    background-color: #3d3d3d;
}

.stress-survey-container .question-text {
    align-items: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    left: 14%;
    line-height: 1.4;
    position: absolute;
    text-align: center;
    top: 45.89%;
    width: 72%;
}

.stress-survey-container .button-choice {
    align-items: center;
    background-color: #c8c8c8;
    border-radius: 10px;
    display: flex;
    height: 56px;
    justify-content: center;
    width: 162px;
    position: absolute;
    top: calc(50% + 74px);
    cursor: pointer;
}

.stress-survey-container .yes {
    left: calc(50% - 166px); /* Align left of center gap */
}

.stress-survey-container .no {
    left: calc(50% + 4px); /* Align right of center gap */
}

.stress-survey-container .text-wrapper {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.stress-survey-container .confused-face {
    height: 63px;
    width: 63px;
    position: absolute;
    top: 295px;
    left: 50%;
    transform: translateX(-50%);
}

.stress-survey-container .arrow-left {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 84px;
    left: 15px;
}

.stress-survey-container .icon {
    width: 100%;
    height: 100%;
}

.stress-survey-container .footer-text {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 9.86%;
    width: 100%;
    text-align: center;
}

.stress-survey-container .button-complete {
    all: unset;
    background-color: #c8c8c8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 330px;
    position: absolute;
    bottom: 50px; /* Approx based on visual */
    left: 32px;
    cursor: pointer;
}

.stress-survey-container .text-wrapper-complete {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
