.splash-container {
    background-color: #FFB200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.splash-container .img {
    height: auto;
    width: auto; /* Allow natural size or control as needed */
    max-width: 60%;
    max-height: 35%;
    object-fit: contain;
}
